@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.home_background {
  background-image: url('../img/grogu.png');
  height: 1000px;
  display: block;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}
home_title {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(134, 48, 48);
  font-family: Montserrat;
}
